<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/education.css" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <%- include('includes/logo.ejs') %>
    <main>
      <div class="mainContainer">
        <h2>Tell us about your highest level of education</h2>
        <p>Watch the video if you are stuck on how to complete this section</p>

        <form class="education-form" action="/education" method="post">
          <textarea placeholder="Write here." name="education" id="education">
<%= data.education%></textarea
          >

          <div class="buttons">
            <button
              class="btn-back"
              type="button"
              onclick="window.location.href = '/work-history';"
            >
              BACK
            </button>
            <button class="btn-submit" type="submit">NEXT</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
