<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/summary-page.css" />
    <script type="module" defer src="/js/ai.js"></script>
  </head>
  <body>
    <%- include('includes/logo.ejs') %>
    <main>
      <h2>Professional Summary</h2>
      <p>
        Current Job: (Fill in your job here) <br />
        Soft Skills and Tech Skills: (Fill in your skills here) <br />
        Passions: (Fill in work and personal passions) <br />
        Future Goals: (Fill in what you want to do in the future)
      </p>

      <form class="summary-form" action="/summary" method="post">
        <textarea
          placeholder="Write your summary here."
          name="summary"
          id="summary"
        >
<%= data.professionalSummary%></textarea
        >

        <div class="buttons">
          <button
            class="btn-back"
            type="button"
            onclick="window.location.href = '/contact-details';"
          >
            BACK
          </button>
          <button class="btn-submit" type="submit">NEXT</button>
        </div>
      </form>

      <textarea
        type="text"
        placeholder="Get help from AI here"
        class="summary-check hidden"
      ></textarea>

      <%- include('includes/btnAI.ejs') %>
    </main>
  </body>
</html>
