<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/summary-page.css" />
  </head>
  <body>
    <%- include('logo.ejs') %>
    <main>
      <h2>Professional Summary</h2>

      <textarea
        type="text"
        placeholder="Get your summary paragraph checked by an AI here"
        class="summary-check"
      ></textarea>

      <form class="summary-form" action="/summary" method="post">
        <textarea
          placeholder="Write your summary here."
          name="summary"
          id="summary"
        >
<%= data.professionalSummary%></textarea
        >

        <div class="buttons">
          <button
            class="btn-back"
            type="button"
            onclick="window.location.href = '/contact-details';"
          >
            BACK
          </button>
          <button class="btn-submit" type="submit">NEXT</button>
        </div>
      </form>
    </main>
  </body>
</html>
