@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-weight: 300;
  color: #e67700;
  margin-bottom: 25px;
}

p {
  margin-top: -20px;
  font-size: 12px;
  margin-bottom: 30px;
}

.logo {
  width: 15%;
  height: auto;
  margin: 20px 20px;
}

main {
  display: grid;
  place-content: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-back,
.btn-submit {
  width: 140px;
  height: 40px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.btn-back {
  outline: none;
  background-color: #fff;
  border: 2px solid #e67700;
  color: #e67700;
}

.btn-submit {
  border: 0;
  background-color: #2b8a3e;
  color: #fff;
}
